$primary: #0fb1ea;
$secondary: #094459;
$success: #3cb17e;
$info: #202f39;
$warning: #baa046;
$danger: #f44336;
$light: #ffffff;
$dark: #202f39;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import "bootstrap/scss/bootstrap";
