<!-- <div class="container">
    <div class="search-container d-flex align-items-center mb-3">
        <div class="form-outline me-2">
            <input type="search" id="form1" class="form-control" placeholder="Buscar..." aria-label="Search" />
        </div>
        <button class="new-order btn btn-success">Nueva Orden</button>
    </div>

    <div class="order-table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">No. orden</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio Total</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Orden de productos electrónicos</td>
                    <td>$150.00</td>
                    <td>Pendiente</td>
                    <td>Proveedor A</td>
                    <td>
                        <button class="action-btn btn btn-warning btn-sm">Detalles</button>
                        <button class="action-btn btn btn-danger btn-sm">Finalizar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Orden de muebles de oficina</td>
                    <td>$800.00</td>
                    <td>Enviado</td>
                    <td>Proveedor B</td>
                    <td>
                        <button class="action-btn btn btn-warning btn-sm">Detalles</button>
                        <button class="action-btn btn btn-danger btn-sm">Finalizar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Orden de suministros de limpieza</td>
                    <td>$50.00</td>
                    <td>Completado</td>
                    <td>Proveedor C</td>
                    <td>
                        <button class="action-btn btn btn-warning btn-sm">Detalles</button>
                        <button class="action-btn btn btn-danger btn-sm">Finalizar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<app-search
  textBtn="Hola"
  (searchValue)="search($event)"
  (newValue)="openModal()"
></app-search>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <app-table
      [tblInfo]="tlbInfo"
      [tblData]="tblData"
      (btnAction)="actions($event)"
    ></app-table>
  </mat-card-content>
</mat-card>
