<app-modal-header title="Agregar Nuevo Usuario"></app-modal-header>

<div class="modal-body">
  <div class="card-body py-0">
    <!-- Formulario para datos -->
    <form class="px-4" autocomplete="off" [formGroup]="addusersform" (ngSubmit)="sendUsersForm()">
      <!-- Primera fila  -->
      <!-- Nombre -->
      <div class="row m-t-20">
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100" color="primary" [floatLabel]="float">
            <input matInput required type="text" formControlName="nombre" />
            <mat-label><span class="text-muted font-weight-bold font-size">Nombre</span></mat-label>
          </mat-form-field>
        </div>
        <!-- Apellido -->
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100" color="primary" [floatLabel]="float">
            <input matInput required type="text" formControlName="apellido" />
            <mat-label><span class="text-muted font-weight-bold font-size">Apellido</span></mat-label>
          </mat-form-field>
        </div>
      </div>

      <!-- Segunda fila  -->
      <!-- Usuario, Correo y Teléfono -->
      <div class="row m-t-20">
        <!-- Usuario -->
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100" color="primary" [floatLabel]="float">
            <input matInput required type="text" formControlName="usuario" />
            <mat-label><span class="text-muted font-weight-bold font-size">Usuario</span></mat-label>
          </mat-form-field>
        </div>
        <!-- Correo -->
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100" color="primary" [floatLabel]="float">
            <input matInput required type="text" formControlName="correoElectronico" />
            <mat-label><span class="text-muted font-weight-bold font-size">Correo Electronico</span></mat-label>
          </mat-form-field>
        </div>
        <!-- Teléfono -->
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100" color="primary" [floatLabel]="float">
            <input matInput required type="text" formControlName="telefono" />
            <mat-label><span class="text-muted font-weight-bold font-size">Teléfono</span></mat-label>
          </mat-form-field>
        </div>
      </div>

      <!-- Tercera fila  -->
      <!-- Boton envio -->
      <div class="row m-t-20">
        <!-- Columna Boton envio -->
        <div class="col-lg-12">
          <div class="m-t-12">
            <button mat-raised-button style="height: 48px; width: 100%" type="submit"
              class="btn font-weight-bolder btn-primary font-size-sm mr-1 text-white" color="primary">
              Enviar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>