<app-carousel></app-carousel>
<app-header-cart></app-header-cart>


<!-- <section>
    <form>
      <input type="text" placeholder="Filter by city"  #filter/>
      <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
    </form>
  </section> -->

  <!-- <div>
    <input
      type="text"
      placeholder="Buscar..."
      [(ngModel)]="busqueda"
    />
    <app-hijo [valorBusqueda]="busqueda"></app-hijo>
  </div> -->
`

  

<section class="container-fluid d-flex align-items-center
 justify-content-center mt-4">

        
    <button mat-button [matMenuTriggerFor]="aboveMenu">Categoria 1</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">Categoria 2</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu">Categoria 3</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>

      
</section>

<section class="container-fluid border-top py-5">
<h2 class="fs-3 text-center">Tu estilo, nuestra inspiración</h2>
<h2 class="text-center">TextilSmart</h2>

    <div class="container mt-3">
        <h2 class="fs-5">Destacados...</h2>

        <div class="row">

            <!-- <app-product [text]="busqueda" ></app-product> -->
            <app-product ></app-product>
            
        </div>
    </div>

    

</section>