<!-- Contenedor Principal -->
<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center">
    <!-- Barra de Búsqueda -->
    <input
      type="text"
      id="search-input"
      class="form-control w-50"
      placeholder="Buscar cliente..."
    />
    <!-- Botón para agregar un nuevo cliente -->
    <button class="btn btn-primary" id="add-client-btn" (click)="openModal()">
      Agregar Cliente
    </button>
  </div>

  <!-- Lista de Usuarios y Clientes -->
  <div id="users-list" class="mt-4">
    <!-- Elemento de Ejemplo --> 
    <div ngbAccordion>
      <div ngbAccordionItem [collapsed]="true">
        <h2 ngbAccordionHeader>
          <div class="d-flex w-100 align-items-center">
            <!-- Botón del Accordion -->
            <button ngbAccordionButton class="mr-auto">Rudy Flores</button>
            <!-- Botones de acción (Modificar y Eliminar) -->
            <button class="btn btn-warning btn-sm custom-margin">Modificar</button>
            <button class="btn btn-danger btn-sm custom-margin" (click)="deleteUser()">Eliminar</button>
          </div>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>Usuario: usuario123</p>
              <p>Teléfono: 123456789</p>
              <p>Direcciones: Calle Ejemplo 123, Ciudad -<a href="#" class="add-address">Agregar más direcciones</a></p>
              <p>NIT: 123456-7</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
