<app-search
  textBtn="Agregar Usuario"
  (searchValue)="search($event)"
  (newValue)="openModal()"
></app-search>

<div id="users-list" class="mt-4">
  <div ngbAccordion>
    @for (user of users; track $index) {
      <div ngbAccordionItem [collapsed]="true">
        <h2 ngbAccordionHeader>
          <div class="d-flex w-100 align-items-center">
            <!-- Botón del Accordion -->
            <button ngbAccordionButton class="mr-auto">{{ user.nombre }} {{user.apellido}}</button>
            <!-- Botones de acción (Modificar y Eliminar) -->
            <button class="btn btn-warning btn-sm custom-margin" (click)="openModal(user)">Modificar</button>
            <button class="btn btn-danger btn-sm custom-margin" (click)="deleteUser(user.id)">Eliminar</button>
          </div>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>Nombre: {{ user.nombre }}</p>
              <p>Apellido: {{ user.apellido }}</p>
              <p>Usuario: {{ user.usuario }}</p>
              <p>Correo Electrónico: {{ user.correoElectronico}}</p>
              <p>Teléfono: {{ user.telefono }}</p>
            </ng-template>
          </div>
        </div>
      </div>
    }
    
  </div>
</div>