<div class="container my-5" *ngIf="product">
  <div class="row">
    <div class="col-md-6 imagen-producto border p-5">
      <!-- Usa la imagen proporcionada por la API o una predeterminada si no existe -->
      <img [src]="product.url || '/assets/camisola.webp'" alt="Imagen del Producto" class="img-fluid">
    </div>
    <div class="col-md-6 descripcion-producto">
      <h2>{{ product.nombre || 'Nombre no disponible' }}</h2>
      <p>{{ product.descripcion || 'Descripción no disponible' }}</p>
      <p><strong>Precio:</strong> {{ product.precio ? (product.precio | currency:'Q':'symbol':'1.2-2') : 'N/A' }}</p>

      <p><strong>Stock:</strong> {{ product.stock > 0 ? product.stock + ' disponibles' : 'No disponible' }}</p>
      <p><strong>Tipo de Producto: </strong> {{ product.tipo_producto }}</p>

      <div *ngIf="product.atributos_json && product.atributos_json.length > 0" class="mt-4">
        <h3 class="mb-3">Características del Producto</h3>
      
        <div class="table-responsive">
          <table class="table table-hover table-bordered custom-table">
            <thead class="table-light">
              <tr>
                <th scope="col">Características</th>
                <th scope="col">Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let atributo of product.detelleAtributos">
                <td>{{ atributo.atributo.descripcion }}</td>
                <td>
                  <!-- Verificar si el valor es true o false y mostrar íconos correspondientes -->
                  <span *ngIf="atributo.valor === 'true'">
                    <i class="fas fa-check-circle text-success"></i> <!-- Ícono de check verde -->
                  </span>
                  <span *ngIf="atributo.valor === 'false'">
                    <i class="fas fa-times-circle text-danger"></i> <!-- Ícono de "X" roja -->
                  </span>
                  <span *ngIf="atributo.valor !== 'true' && atributo.valor !== 'false'">
                    {{ atributo.valor }} <!-- Si no es true o false, mostrar el valor original -->
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      

      <form class="row d-flex justify-content-between">
        <div class="col-md-6 mt-2">
          <label for="inputCantidad" class="visually-hidden">Cantidad</label>
          <input type="number" min="1" class="form-control" id="inputCantidad" placeholder="Cantidad">
        </div>
        <div class="col-md-6 mt-2">
          <button type="submit" class="btn btn-primary mb-3" style="width: 100%;" [disabled]="product.stock === 0">Agregar al carrito</button>
        </div>
      </form>
    </div>
    
    
  </div>
</div>
