<section class="cards">

    <article class="card card--1">
        <div class="card__info-hover">
            <div class="card__clock-info">
                <span class="card__time">30 min</span>
            </div>
        </div>

        <div class="card__img"></div>
        <a href="#" class="card_link">
            <div class="card__img--hover"></div>
        </a>
        <div class="card__info">
            <span class="card__category">Camisas</span>
            <h3 class="card__by">Playera</h3>
            <span class="card__by">Por <a href="" class="card__author" title=""></a></span>
            <div class="card__buttons">
                <button class="btn">Precio</button>
                <button class="btn btn--details">Más Detalles</button>
            </div>
        </div>
    </article>

    <article class="card card--1">
        <div class="card__info-hover">
            <div class="card__clock-info">
                <span class="card__time">30 min</span>
            </div>
        </div>

        <div class="card__img"></div>
        <a href="#" class="card_link">
            <div class="card__img--hover"></div>
        </a>
        <div class="card__info">
            <span class="card__category">Camisas</span>
            <h3 class="card__by">Playera</h3>
            <span class="card__by">Por <a href="" class="card__author" title=""></a></span>
            <div class="card__buttons">
                <button class="btn">Precio</button>
                <button class="btn btn--details">Más Detalles</button>
            </div>
        </div>
    </article>

</section>