<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <form [formGroup]="productionForm" (ngSubmit)="sendproduction()">
      <div class="row m-t-20">
        <!--  <div class="col-lg-4">
          @if (providers.length > 0) {
          <app-mat-select-search
            [options]="providers"
            displayKey="nombre"
            [info]="{
              id: 'id',
              value: '',
              required: true,
              label: 'Proveedor',
              check: true
            }"
            (check_value)="showProdiver($event)"
            formControlName="proveedor"
          ></app-mat-select-search>
          }
        </div> -->
        <div class="col-lg-6">
          @if (products.length > 0) {
          <app-mat-select-search
            [options]="products"
            displayKey="nombre"
            [info]="{ id: 'id', value: '', required: true, label: 'Producto' }"
            formControlName="producto"
          ></app-mat-select-search>
          }
        </div>

        <div class="col-lg-6">
          <mat-form-field
            appearance="outline"
            class="w-100"
            color="primary"
            floatLabel="auto"
          >
            <input matInput required type="number" formControlName="cantidad" />
            <mat-label
              ><span class="text-muted font-weight-bold font-size"
                >Cantidad</span
              ></mat-label
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row m-t-20">
        <div class="col-lg-4">
          @if (users.length > 0) {
          <app-mat-select-search
            [options]="users"
            displayKey="nombre"
            [info]="{
              id: 'id',
              value: '',
              required: true,
              label: 'Responsable'
            }"
            formControlName="responsable"
          ></app-mat-select-search>
          }
        </div>
        <div class="col-lg-4">
          @if (colors.length > 0) {
          <app-mat-select-search
            [options]="colors"
            displayKey="nombre"
            [info]="{ id: 'id', value: '', required: true, label: 'Colores' }"
            formControlName="color"
          ></app-mat-select-search>
          }
        </div>
        <div class="col-lg-4">
          @if (sizes.length > 0) {
          <app-mat-select-search
            [options]="sizes"
            displayKey="nombre"
            [info]="{ id: 'id', value: '', required: true, label: 'Talla' }"
            formControlName="talla"
          ></app-mat-select-search>
          }
        </div>
      </div>

      <div class="row m-t-20">
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha Inicio</mat-label>
            <input
              matInput
              [matDatepicker]="pickerstat"
              (click)="pickerstat.open()"
              formControlName="fechaInicio"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickerstat"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerstat></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha Fin Estimada</mat-label>
            <input
              matInput
              [matDatepicker]="pickerend"
              (click)="pickerend.open()"
              formControlName="fechaFinEstimada"
            />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickerend"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerend></mat-datepicker>
            <mat-error
              *ngIf="
                productionForm
                  .get('fechaFinEstimada')
                  ?.hasError('fechaInvalida')
              "
            >
              La fecha de finalización debe ser al menos 5 días mayor a la fecha
              actual.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row m-t-20">
        <!-- Columna Boton envio -->
        <div class="col-lg-12">
          <div class="m-t-12">
            <button
              mat-raised-button
              style="height: 48px; width: 100%"
              type="submit"
              class="btn font-weight-bolder btn-primary font-size-sm mr-1 text-white"
              color="primary"
            >
              Enviar
            </button>
          </div>
        </div>
      </div>
    </form>

    <!-- Tabla de Materia Prima -->
    @if (show_table) {
    <div class="container mt-5">
      <mat-card class="b-1 shadow-none">
        <mat-card-header class="m-auto">
          <mat-card-title
            >Detalle de Materia Prima para la Produccion</mat-card-title
          >
        </mat-card-header>
        <mat-card-content class="b-t-1 mt-3">
          <div class="mt-3">
            <app-table
              class="mt-3"
              [tblInfo]="tlbInfo"
              [tblData]="tblData"
            ></app-table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    }
  </mat-card-content>
</mat-card>
