<table class="table table-bordered">
  <thead>
    <tr>
      <th>Materia Prima</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Total</th>
      <th>- -</th>
      <th>- -</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let product of productos.controls; let i = index"
      [formGroup]="product"
    >
      <td>
        <!-- <input formControlName="nombre" class="form-control"> -->

        @if (listFeedstock.length > 0) {
        <app-mat-select-search
          [options]="listFeedstock"
          displayKey="nombre"
          [info]="{
            id: 'id',
            value: '',
            required: true,

          }"
          formControlName="materiaPrima"
          (selectionChange)="onProductSelected($event, i)"
        ></app-mat-select-search>
        }
      </td>
      <td>
        <!--  <input formControlName="cantidad" type="number" class="form-control" /> -->

        <mat-form-field
          appearance="outline"
          class="w-100"
          color="primary"
          floatLabel="auto"
        >
          <input matInput required type="number" formControlName="cantidad" />
        </mat-form-field>
      </td>
      <td>
        <!-- <input formControlName="precio" type="number" class="form-control" /> -->

        <mat-form-field
          appearance="outline"
          class="w-100 no-interaction"
          color="primary"
          floatLabel="auto"
        >
          <input matInput required type="number" formControlName="precio" />
        </mat-form-field>
      </td>
      <td>
        <!-- <input
          [value]="product.value.cantidad * product.value.precio"
          class="form-control"
          readonly
        /> -->

        <mat-form-field
          appearance="outline"
          class="w-100"
          color="primary"
          floatLabel="auto"
        >
          <input
            matInput
            required
            type="number"
            [value]="product.value.cantidad * product.value.precio"
          />
        </mat-form-field>
      </td>
      <td>
        <button class="btn btn-warning btn-sm" (click)="modifyProduct(i)">
          <!-- {{ product.value.editable ? 'Guardar' : 'Modificar' }} -->
          @if (product.value.editable) {
          <i class="fa-solid fa-floppy-disk"></i>
          <!-- <i class="fa-regular fa-floppy-disk"></i> -->
          }@else{
          <i class="fa-solid fa-pen"></i>
          }
        </button>
      </td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteProduct(i)">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
