.centar_fileter {
  margin: auto;
  justify-content: center;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
}

.global-table {
  height: 550px !important;
  max-height: 550px !important;
  display: flex;
}

.card-body {
  padding: 2.25rem 0;
}
.link:hover {
  color: #1466c0;
  font-weight: bold;
}
.link {
  cursor: pointer;
  color: #0f2f76;
}
p {
  margin-bottom: 0px !important;
}

.btn-secondary {
  background-color: #198754 !important; //Defino el color haciendo referencia al boton que usa secondary como color
  border-color: #198754 !important;

  &:hover {
    background-color: #10ab44 !important;
    border-color: #10ab44 !important;
  }
}

.btn-json {
  background-color: #adb5bd !important; //Defino el color haciendo referencia al boton que usa secondary como color
  border-color: #adb5bd !important;

  &:hover {
    background-color: #929292 !important;
    border-color: #929292 !important;
  }
}

.tarjeta-resultado-busqueda p {
  margin-bottom: 5px;
}
/* card del resultado de búsquedq */
.tarjeta-resultado-busqueda {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 2em;
  box-shadow: 0 2px 5px rgba(13, 43, 242, 0.564);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.textresalt {
  text-shadow: 1px 1px 1px black;
}

#buttonDetail {
  position: relative;
  left: 6em;
  top: 8px;
}
#buttonDetail:hover {
  color: #1466c0;
  font-weight: bold;
}
@media (max-width: 600px) {
  #paginatormov {
    font-size: 10px;
    padding: 5px;
    /* Agrega o ajusta las propiedades según lo necesites */
  }
}
