<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="container mt-4">
      <!-- Número de Orden -->
      <h3 class="text-center mb-3">Orden de Compra #{{detalle.id}}</h3>

      <!-- Datos de la Orden de Compra -->
      <div class="order-info-container">
        <div class="order-info-card">
          <!--<img src="icon-proveedor.png" alt="Proveedor Icono" class="icon">-->
          <i class="fa-solid fa-truck-field"></i>
          <div class="info-title">Proveedor</div>
          <div class="info-data">{{detalle.proveedor.nombre}}</div>
        </div>
        <div class="order-info-card">
          <!--<img src="icon-fecha.png" alt="Fecha Icono" class="icon">-->
          <i class="fa-solid fa-calendar-days"></i>
          <div class="info-title">Fecha Creación</div>
          <div class="info-data">{{detalle.createdAt| date : "dd-MM-yyyy"}}</div>
        </div>
        <!-- Piezas Producidas -->
        <div class="order-info-card">
          <!--<img src="icon-usuario.png" alt="Usuario Icono" class="icon">-->
          <i class="fa-solid fa-calculator"></i>
          <div class="info-title">Total de Piezas</div>
          <div class="info-data">{{detalle.totalPiezas}}</div>
        </div>
      </div>

      <!-- Detalle de Productos de Materia Prima -->
      <mat-card class="cardWithShadow">
        <mat-card-content class="p-24">
          <app-table
            [tblInfo]="tlbInfo"
            [tblData]="tblData"
          ></app-table>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
